<!DOCTYPE html>
<html>
<head>
    <title>Email Notification</title>
</head>
<body>
    <h1>{{ subject }}</h1>
    <p>Hello, {{ name }}!</p>
    <p>This is your message: {{ message }}</p>
</body>
</html>
